<VirtualHost *:{{ http_port }}>
    ServerName {{ item.name }}
    DocumentRoot {{ item.document_root }}

    {% if debug_mode %}
    LogLevel debug
    {% else %}
    LogLevel warn
    {% endif %}
    ErrorLog ${APACHE_LOG_DIR}/{{ item.name }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.name }}_access.log combined

    <Directory {{ item.document_root }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
        {% if app_env == 'production' %}
        Header always set X-Frame-Options DENY
        Header always set X-Content-Type-Options nosniff
        Header always set X-XSS-Protection "1; mode=block"
        {% endif %}
    </Directory>
</VirtualHost>

{% if item.ssl_enabled and ssl_enabled %}
<IfModule mod_ssl.c>
<VirtualHost *:{{ https_port }}>
    ServerName {{ item.name }}
    DocumentRoot {{ item.document_root }}
    SSLEngine on
    SSLCertificateFile {{ ssl_cert_path }}
    SSLCertificateKeyFile {{ ssl_key_path }}
</VirtualHost>
</IfModule>
{% endif %}
